 .u-section-1 {
  background-image: none;
  min-height: 1068px;
}

.u-section-1 .u-shape-1 {
  width: calc(((100% - 1140px) / 2) + 490px);
  height: 400px;
  background-image: none;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 161px 0 0 auto;
}

.u-section-1 .u-shape-2 {
  width: calc(((100% - 1140px) / 2) + 640px);
  height: 530px;
  background-image: none;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -561px auto 0 0;
}

.u-section-1 .u-image-1 {
  width: 999px;
  height: 547px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  object-position: 50% 10.92%;
  margin: -485px auto 0 calc(((100% - 1140px) / 2) + -20px);
}

.u-section-1 .u-group-1 {
  min-height: 503px;
  width: 807px;
  height: auto;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -98px calc(((100% - 1140px) / 2)) 60px auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 31px 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  line-height: 1.8;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 30px 0 0;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 1039px;
  }

  .u-section-1 .u-shape-1 {
    width: calc(((100% - 940px) / 2) + 490px);
    margin-top: 254px;
  }

  .u-section-1 .u-shape-2 {
    width: calc(((100% - 940px) / 2) + 640px);
  }

  .u-section-1 .u-image-1 {
    width: 940px;
    height: 518px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-group-1 {
    margin-top: 30px;
    margin-right: calc(((100% - 940px) / 2));
    height: auto;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 989px;
  }

  .u-section-1 .u-shape-1 {
    width: calc(((100% - 720px) / 2) + 490px);
    margin-top: 161px;
  }

  .u-section-1 .u-shape-2 {
    width: calc(((100% - 720px) / 2) + 640px);
  }

  .u-section-1 .u-image-1 {
    width: 720px;
    height: 380px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-group-1 {
    min-height: 553px;
    width: 640px;
    margin-top: -96px;
    margin-right: auto;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 986px;
  }

  .u-section-1 .u-shape-1 {
    width: calc(((100% - 540px) / 2) + 490px);
  }

  .u-section-1 .u-shape-2 {
    width: calc(((100% - 540px) / 2) + 475px);
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 285px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-group-1 {
    width: 540px;
    margin-top: -1px;
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 1032px;
  }

  .u-section-1 .u-shape-1 {
    width: calc(((100% - 340px) / 2) + 275px);
    height: 243px;
  }

  .u-section-1 .u-shape-2 {
    width: calc(((100% - 340px) / 2) + 301px);
    height: 415px;
    margin-top: -404px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 189px;
    margin-top: -360px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-group-1 {
    min-height: 695px;
    width: 340px;
    margin-top: 55px;
    margin-right: auto;
    margin-bottom: 54px;
  }
}